/* Contact Section Styles */

.section__contact {
  padding: 7rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: var(--brand);
}

.section__contact .content {
  max-width: calc(100vw - 2 * var(--header-height));
  /* width: 100%; */
  color: var(--bg);
}

.section__contact .section__title {
  color: var(--bg);
}

.gif__box {
  width: 20vw;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
