/* Hero Section Styles */

.section__hero {
  max-width: 75vw;
} 

.hero__title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-normal);
  color: var(--text);
  text-align: left;
}

.hero__subtitle {
  color: var(--text);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-m);
  margin: 0.1rem 0;
  text-align: left;
}
