/* Hero Section Styles */

.section__hero {
  max-width: 75vw;
}

.hero__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem 4rem;
}

.hero__logo {
  height: calc(4 * var(--font-size-xl));
  position: relative;
  left: -4rem;
  margin-bottom: 1rem;
}

.hero__title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-normal);
  color: var(--text);
  text-align: left;
  margin: 0;
}

.hero__subtitle {
  color: var(--text);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-m);
  margin: 0;
  text-align: left;
}

@media (max-width: 767px) {
  .section__hero {
    max-width: 100vw;
  }
  .hero__header {
    padding: 0rem;
    align-items: stretch;
    max-width: 75vw;
    margin: 0 auto;
    text-align: center;
  }
  .hero__logo {
    height: calc(4 * var(--font-size-l));
    left: 0;
  }
  .hero__title {
    font-size: var(--font-size-l);
  }
  .hero__subtitle {
    font-size: var(--font-size-s);
  }
}
